<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./home.css">
</head>
<body>
    <h1>welcome to the home page</h1>
   
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et suscipit corporis velit recusandae? Veritatis ratione exercitationem magni ducimus eaque, atque, libero eligendi excepturi et quod quos officia facere. Omnis, distinctio?</p>

</body>

</html>